* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 2px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {   
  float: left;
  width: 100%;
}

.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.read-more {
  background-color: rgb(29, 29, 182);
  width: 100px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}

.read-more:hover {
  background-color: rgb(73, 73, 224);
  color: white;
}
