{% extends 'index.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1 data-aos="fade-up" data-aos-once="true" style="color: rgb(255,255,255);position: relative;">About us</h1>
    <section class="py-4 py-xl-5" style="color: rgb(245,245,245);position: relative;">
        <div class="container">
            <div class="text-white border rounded border-0 p-4 p-md-5" data-aos="fade-up" data-aos-once="true" id="about" style="background: rgb(11,109,109);">
                <h2 class="fw-bold text-white mb-3">Welcome to GalaxyXpert Software Solutions: Innovating Agriculture Through Technology</h2>
                <p class="mb-4">At GalaxyXpert, we specialize in empowering farmers, agribusinesses, and enterprises with innovative agritech and custom software solutions. <br><br>Our mission is to drive growth, enhance productivity, and support sustainability in agriculture through tailor-made services.We specialize in leveraging advanced technologies such as AI and IoT to create smart solutions for agriculture. <br><br>Our goal is to help farmers increase productivity, reduce costs, and promote sustainable practices with the power of technology.In addition to agritech, we offer custom software solutions across various industries to help businesses stay competitive through innovation and efficiency.</p>
                <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="{% url 'learnmore_page' %}">Learn more&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2929 5.29289C12.6834 4.90237 13.3166 4.90237 13.7071 5.29289L17.7071 9.29289C18.0976 9.68342 18.0976 10.3166 17.7071 10.7071L13.7071 14.7071C13.3166 15.0976 12.6834 15.0976 12.2929 14.7071C11.9024 14.3166 11.9024 13.6834 12.2929 13.2929L14.5858 11H3C2.44772 11 2 10.5523 2 10C2 9.44772 2.44772 9 3 9H14.5858L12.2929 6.70711C11.9024 6.31658 11.9024 5.68342 12.2929 5.29289Z" fill="currentColor"></path>
                        </svg></a></div>
            </div>
        </div>
    </section>
    <div class="modal fade" role="dialog" tabindex="-1" id="subscribeModal" aria-labelledby="modalLabel" aria-hidden="true" style="background: rgba(255,255,255,0.21);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Subscribe to Our Blog</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p style="margin-bottom:25px;">Join our community and receive weekly updates on the latest posts, exclusive content, and more!</p>
                    <p style="margin-bottom:2px;">Email</p><input type="email" placeholder="eg example@gmail.com" style="width:100%;margin-bottom:20px;">
                    <div class="form-group"><label>Select Frequency:</label>
                        <div class="form-check"><input type="radio" class="form-check-input" id="daily" name="frequency" value="daily"><label class="form-check-label" for="daily">Daily</label></div>
                        <div class="form-check"><input type="radio" class="form-check-input" id="weekly" name="frequency" value="weekly"><label class="form-check-label" for="weekly">Weekly</label></div>
                        <div class="form-check"><input type="radio" class="form-check-input" id="monthly" name="frequency" value="monthly"><label class="form-check-label" for="monthly">Monthly</label></div>
                    </div>
                </div>
                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Subscribe Now!</button></div>
            </div>
        </div>
    </div>
    {% endblock %}