{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="header">
  <h2>Amos' Blog</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
        <h1>{{ posts.title }}</h1>
        <h5>{{ posts.created_at }}</h5>
        <p>{{ posts.content}}</p>
        <a href="{% url 'home' %}">
          <button style="
            height: 30px;
            width: 100px;
            background-color: red;
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-weight: bold;
          " class="back-button">
            Back
          </button>
        </a>
    </div>
  </div>
</div>

</body>
</html>